exportPattern("^[[:alpha:]]+")

# Import all packages listed as Imports or Depends
import(GA, psych)

importFrom("grDevices", "extendrange", "dev.flush", "dev.hold")

importFrom("graphics", "abline", "axis", "box", "grid", "image",
           "layout", "mtext", "par", "points", "text", "title")
           
importFrom("stats", "cor", "na.exclude")

importFrom("utils", "capture.output", "str")
 
# Register S3 methods
S3method("print", "GAabbreviate")
S3method("summary", "GAabbreviate")
S3method("plot", "GAabbreviate")
